.gradient-custom {
    /* fallback for old browsers */
    background: #ffffff;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 236, 210, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 236, 210, 1))
}

.input-group-text {
    height: 100%;
    border-radius: 0;
}

.img-description {
    text-align: center;
    margin-top: -30px;
    font-weight: 700;
}

.text-muted1 {
    font-size: 11px;
}
.text-muted1 > span {
    font-weight: 700;
}

.divider {
    margin: 5px 0;
    border-top: #b7b7b7 solid 1px;
}

.days-temperature {
 overflow: auto;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(205, 205, 205, 0.89); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(129, 129, 129); 
  }